<!DOCTYPE html>
<html lang='en-US'>
<head>
	<title>{{htmlWebpackPlugin.options.html.title}}</title>

	<meta charSet="utf-8" />
	<meta name="author" content="{{htmlWebpackPlugin.options.html.author}}" />
	<meta name="copyright" content="{{htmlWebpackPlugin.options.html.copyright}}" />
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
	<meta name="keywords" content="{{htmlWebpackPlugin.options.html.keywords}}" />
	<meta name="description" content="{{htmlWebpackPlugin.options.html.description}}" />
	<meta name="application-name" content="{{htmlWebpackPlugin.options.html.title}}" />

	<!-- Android  -->
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="theme-color" content="{{htmlWebpackPlugin.options.html.themeColor}}" />

	<!-- Apple IOS -->
	<meta name="apple-mobile-web-app-title" content="{{htmlWebpackPlugin.options.html.title}}" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style"content="{{htmlWebpackPlugin.options.html.apple.statusBarStyle}}" />

	<!-- Windows  -->
	<meta name="msapplication-navbutton-color" content="{{htmlWebpackPlugin.options.html.windows.navButtonColor}}" />
	<meta name="msapplication-TileColor" content="{{htmlWebpackPlugin.options.html.windows.tileColor}}" />
	<meta name="msapplication-TileImage" content="{{htmlWebpackPlugin.options.html.windows.tileImage}}" defer />
	<meta name="msapplication-config" content="{{htmlWebpackPlugin.options.html.windows.config}}" />
	<meta name="msapplication-tooltip" content="{{htmlWebpackPlugin.options.html.windows.tooltip}}" />
	<meta name="msapplication-starturl" content="{{htmlWebpackPlugin.options.html.startupUrl}}" />
	<meta name="msapplication-tap-highlight" content="no" />

	<!-- UC Mobile Browser  -->
	<meta name="full-screen" content="{{htmlWebpackPlugin.options.html.fullscreen}}" />

	<!-- Disable night mode for this page  -->
	<meta name="nightmode" content="{{htmlWebpackPlugin.options.html.nightMode}}" />

	<!-- Layout mode -->
	<meta name="layoutmode" content="{{htmlWebpackPlugin.options.html.layoutMode}}" />

	<!-- Orientation  -->
	<meta name="screen-orientation" content="{{htmlWebpackPlugin.options.html.screenOrientaion}}" />

	<!-- Twitter social card  -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:image" content="{{htmlWebpackPlugin.options.html.touchIconsPath}}512x512.{{htmlWebpackPlugin.options.html.fileType}}" defer />

	<meta httpEquiv="Content-Type" content="text/html; charset=utf-8" />
	<meta httpEquiv="X-UA-Compatible" content="IE=edge" />

	<!-- Pinned Tab  -->
	<link rel="mask-icon" href="{{htmlWebpackPlugin.options.favicon}}" size="any" color="#23282d" defer />

	<!-- Others -->
	<link rel="shortcut icon" sizes="128x128" type="image/x-icon" href="{{htmlWebpackPlugin.options.html.touchIconsPath}}128x128.{{htmlWebpackPlugin.options.html.fileType}}" defer />
	<link rel="shortcut icon" sizes="128x128" type="image/webp" href="{{htmlWebpackPlugin.options.html.touchIconsPath}}128x128.{{htmlWebpackPlugin.options.html.fileType}}" defer />

	<link rel="apple-touch-startup-image"  sizes="348x348" type="image/webp" href="{{htmlWebpackPlugin.options.html.touchIconsPath}}348x348.{{htmlWebpackPlugin.options.html.fileType}}" defer />

	<!-- Apple touch icons  -->
	{{#each htmlWebpackPlugin.options.html.touchIcons}}
		<link rel="apple-touch-icon" type="image/webp" sizes="{{this}}" href={{htmlWebpackPlugin.options.html.touchIconsPath}}{{this}}.{{htmlWebpackPlugin.options.html.fileType}} defer />
	{{/each}}

	<link rel="stylesheet" as="style" crossOrigin="anonymous" href="styles/fonts.css" media="all" id="fonts" defer async />

	{{#each htmlWebpackPlugin.options.html.preconnect}}
		<link rel="preconnect" crossOrigin="anonymous" href="{{this}}" />
	{{/each}}

	<!-- Manifest.json  -->
	<link rel="manifest" href="{{htmlWebpackPlugin.options.html.manifest}}" />
</head>
<body>
	<section id="content"></section>
	<script type="text/javascript">

		window.__RENDER_OPTIONS__ = {
			enableSW: {{htmlWebpackPlugin.options.enableSW}},
			clientSideRendered: {{htmlWebpackPlugin.options.clientSideRendered}}
		}
		
	</script>
</body>
</html>